:root {
  --primary-strong-cyan: hsl(171, 66%, 44%);
  --primary-light-blue: hsl(233, 100%, 69%);
  --neutral-dark-grayish-blue: hsl(210, 10%, 33%);
  --neutral-grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 62.5%;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--neutral-dark-grayish-blue);
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  color: var(--neutral-grayish-blue);
  margin: 0 auto;
  font-size: 1.2rem;
}

.para-width {
  max-width: 700px;
}

header {
  background-image: url(../img/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

.header__img {
  padding-top: 122px;
  padding-bottom: 72px;
}

.header__content {
  padding: 0 20px;
}

.header__content h1 {
  font-size: 2rem;
  padding-bottom: 25px;
}

.header__content p {
  padding-bottom: 50px;
}

.header__content-btns button {
  display: block;
  margin: 0 auto 25px auto;
  border: none;
  border-radius: 100px;
  padding: 15px 40px;
  width: 311px;
  height: 55px;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
}

.header__content-btns button:focus {
  outline: 0;
}

.header__content-btns__ios {
  background-color: var(--primary-strong-cyan);
  -webkit-box-shadow: 0px 2px 1px 1px rgba(18, 139, 121, 0.8);
          box-shadow: 0px 2px 1px 1px rgba(18, 139, 121, 0.8);
}

.header__content-btns__ios:active {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(18, 139, 121, 0.8);
          box-shadow: 0px 1px 1px 1px rgba(18, 139, 121, 0.8);
}

.header__content-btns__mac {
  background-color: var(--primary-light-blue);
  -webkit-box-shadow: 0px 2px 1px 1px rgba(60, 44, 153, 0.8);
          box-shadow: 0px 2px 1px 1px rgba(60, 44, 153, 0.8);
}

.header__content-btns__mac:active {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(60, 44, 153, 0.8);
          box-shadow: 0px 1px 1px 1px rgba(60, 44, 153, 0.8);
}

main {
  padding-top: 80px;
}

.track__heading {
  padding: 0 20px 65px 20px;
}

.track__heading h2 {
  padding-bottom: 25px;
}

.track__main {
  padding-bottom: 100px;
}

.track__main-img img {
  width: 90%;
  padding-bottom: 30px;
}

.track__main-content__text {
  padding: 30px;
}

.track__main-content__text p {
  padding: 20px 0 0 0;
  max-width: 500px;
}

.access {
  padding-top: 100px;
}

.access__heading {
  padding: 30px;
}

.access__heading p {
  padding: 20px 0;
}

.access__heading img {
  width: 100%;
  max-width: 810px;
  padding: 50px 0;
}

.workflow__heading {
  padding-bottom: 70px;
}

.workflow__heading p {
  padding: 20px 0;
}

.workflow__tools-box {
  width: 80%;
  max-width: 380px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.workflow__tools-box h3 {
  padding: 20px 0 25px 0;
}

.brand {
  padding: 130px 0 0 0;
}

.brand-img {
  padding: 30px 0;
}

.button {
  padding: 150px 0 150px 0;
}

.button h2 {
  padding-bottom: 25px;
}

.button p {
  width: 80%;
  padding-bottom: 40px;
}

.footer {
  background-color: #ebedf1;
}

.footer__sections img {
  padding: 50px 0;
}

.footer__sections p {
  padding: 15px 0;
}

.footer__sections-svg {
  display: inline;
  padding: 0 16px 0 16px;
}

.footer__sections-social {
  padding: 50px 0;
}

@media (min-width: 950px) {
  header {
    background-image: url(../img/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
  }
  .header__content-btns button {
    display: inline-block;
    margin: 0 8px;
  }
  main {
    padding-top: 70px;
  }
  .track__main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    position: relative;
    padding-bottom: 75px;
  }
  .track__main-img img {
    width: 50%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -100px;
    max-width: 800px;
  }
  .track__main-content {
    padding-top: 0px;
  }
  .track__main-content__text {
    padding: 30px 0;
    text-align: left;
  }
  .track__main-content__text p {
    padding: 20px 0 0 0;
    margin: 0;
    max-width: 400px;
  }
  .access {
    padding-top: 75px;
  }
  .workflow {
    padding-bottom: 75px;
    max-width: 1500px;
    margin: 0 auto;
  }
  .workflow__tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 75px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__sections img {
    width: 70%;
  }
}

@media (min-width: 1500px) {
  .access {
    padding-top: 150px;
  }
}
/*# sourceMappingURL=styles.css.map */