:root {
  --primary-strong-cyan: hsl(171, 66%, 44%);
  --primary-light-blue: hsl(233, 100%, 69%);
  --neutral-dark-grayish-blue: hsl(210, 10%, 33%);
  --neutral-grayish-blue: hsl(201, 11%, 66%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 62.5%; // is 10px, so 1 rem = 10px
  text-align: center;
}
h1,
h2,
h3 {
  color: var(--neutral-dark-grayish-blue);
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
p {
  color: var(--neutral-grayish-blue);
  margin: 0 auto;
  font-size: 1.2rem;
}
.para-width {
  max-width: 700px;
}
header {
  background-image: url(../img/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}
.header__img {
  padding-top: 122px;
  padding-bottom: 72px;
}
.header__content {
  padding: 0 20px;
  & h1 {
    font-size: 2rem;
    padding-bottom: 25px;
  }
  & p {
    padding-bottom: 50px;
  }
  &-btns {
    & button {
      display: block;
      margin: 0 auto 25px auto;
      border: none;
      border-radius: 100px;
      padding: 15px 40px;
      width: 311px;
      height: 55px;
      font-size: 1rem;
      color: whitesmoke;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
    &__ios {
      background-color: var(--primary-strong-cyan);
      box-shadow: 0px 2px 1px 1px rgba(18, 139, 121, 0.8);
      &:active {
        transform: translateY(5%);
        box-shadow: 0px 1px 1px 1px rgba(18, 139, 121, 0.8);
      }
    }
    &__mac {
      background-color: var(--primary-light-blue);
      box-shadow: 0px 2px 1px 1px rgba(60, 44, 153, 0.8);
      &:active {
        transform: translateY(5%);
        box-shadow: 0px 1px 1px 1px rgba(60, 44, 153, 0.8);
      }
    }
  }
}

main {
  padding-top: 80px;
}
.track {
  &__heading {
    padding: 0 20px 65px 20px;
  }
  &__heading h2 {
    padding-bottom: 25px;
  }
}
.track__main {
  padding-bottom: 100px;
  &-img img {
    width: 90%;
    padding-bottom: 30px;
  }
  &-content {
    &__text {
      padding: 30px;
      & p {
        padding: 20px 0 0 0;
        max-width: 500px;
      }
    }
  }
}
.access {
  padding-top: 100px;
  &access__heading {
  }
}

@media (min-width: 950px) {
  header {
    background-image: url(../img/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
  }
  .header__content {
    &-btns {
      & button {
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
  main {
    padding-top: 70px;
  }
  .track__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding-bottom: 75px;

    &-img img {
      width: 50%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: -100px;
    }
    &-content {
      padding-top: 0px;
      &__text {
        padding: 30px 0;
        text-align: left;
        & p {
          padding: 20px 0 0 0;
          margin: 0;
          max-width: 400px;
        }
      }
    }
  }
  .access {
    padding-top: 75px;
  }
}
